NER_Master__NER_Master_NER_YT_Brand_Extraction.json
{
  "name": "[NER_Master] NER_Master_NER_YT_Brand_Extraction",
  "nodes": [
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "e3d88eb5-20dc-4f3c-a8c0-8dccbd744b5e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        -100
      ],
      "executeOnce": false
    },
    {
      "parameters": {},
      "id": "3eb1e35b-85fc-440b-9296-ffc1efac588a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        20,
        40
      ],
      "webhookId": "1e0caf8a-3ace-4307-96a8-34edf0050881"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- SELECT vd.video_id, vd.yt_video_id, vd.channel_id, vd.yt_channel_id, vd.video_title, vd.video_description, vd.video_tags AS video_keywords, vt.transcript_text\n-- FROM video_details vd\n-- INNER JOIN video_transcripts vt\n-- ON vd.video_id = vt.video_id\n-- where transcript_text IS NOT NULL \n--  and brand_mention_entities is null\n-- -- AND vd.video_id > 29704\n-- ORDER BY video_id ASC;\n\n  \n-- SELECT * FROM video_transcripts\n-- WHERE brand_mention_entities IS NULL AND transcript_text IS NOT NULL \n-- -- AND vd.video_id > 29704\n-- ORDER BY video_id ASC;\n\n\n-- SELECT \n--     cd.channel_id, \n--     cd.yt_channel_id, \n--     cd.channel_title, \n-- \tcd.channel_desc,\n-- \tcd.channel_keywords,\n--     vd.video_id, \n--     vd.yt_video_id, \n--     vd.video_title, \n--     vd.video_description,\n-- \tvd.video_tags,\n-- \tvt.transcript_id,\n--     vt.transcript_text, \n-- \tvt.brand_mention_entities,\n--     vt.transcript_available\n-- FROM video_transcripts AS vt\n-- INNER JOIN video_details AS vd\n--     ON vt.video_id = vd.video_id\n-- INNER JOIN channel_details AS cd\n--     ON vd.channel_id = cd.channel_id\n-- WHERE \n--     cd.channel_id >= 1 AND\n-- \tvd.video_id Between 9182 AND 13368 AND\n--     vt.transcript_text IS NOT NULL AND\n--     cd.channel_id IS NOT NULL AND \n--     cd.yt_channel_id IS NOT NULL AND \n--     cd.channel_title IS NOT NULL AND \n--     vd.video_id IS NOT NULL AND \n--     vd.yt_video_id IS NOT NULL AND \n--     vd.video_title IS NOT NULL AND \n--     vt.transcript_language IS NOT NULL AND \n--     vt.transcript_available IS NOT NULL AND\n-- \tvt.brand_mention_entities IS NULL\n-- ORDER BY vt.video_id ASC\n\n\n\n\nSELECT \n    cd.channel_id, \n    cd.yt_channel_id, \n    cd.channel_title, \n\tcd.channel_desc,\n\tcd.channel_keywords,\n    vd.video_id, \n    vd.yt_video_id, \n    vd.video_title, \n    vd.video_description,\n\tvd.video_tags,\n\tvt.transcript_id,\n    vt.transcript_text, \n\tvt.brand_mention_entities,\n    vt.transcript_available\nFROM video_transcripts AS vt\nINNER JOIN video_details AS vd\n    ON vt.video_id = vd.video_id\nINNER JOIN channel_details AS cd\n    ON vd.channel_id = cd.channel_id\nWHERE \n    cd.channel_id >= 1 AND\n\tvd.video_id >=11510 AND\n    vt.transcript_text IS NOT NULL AND\n    cd.channel_id IS NOT NULL AND \n    cd.yt_channel_id IS NOT NULL AND \n    cd.channel_title IS NOT NULL AND \n    vd.video_id IS NOT NULL AND \n    vd.yt_video_id IS NOT NULL AND \n    vd.video_title IS NOT NULL AND \n    vt.transcript_language IS NOT NULL AND \n    vt.transcript_available IS NOT NULL AND\n\tvt.brand_mention_entities IS NULL\nORDER BY vt.video_id ASC\nLIMIT 2000\n ",
        "options": {}
      },
      "id": "519c161d-ca8b-4f28-8e87-9dff51b3bae7",
      "name": "Postgres_Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1000,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "xuASL97JcX6mWTJe",
          "name": "Youtube DB"
        }
      }
    },
    {
      "parameters": {
        "content": "# **THIS FLOW ONLY PUSH (CHANNEL_DETAILS & VIDEO_DETAILS & VIDEO_TRANSCRIPTS)**\nIF THE TRANSCRIPT IS AVALABLE THEN THIS FLOW WILL EXECUTE",
        "height": 153,
        "width": 1344,
        "color": 4
      },
      "id": "35345afa-38ad-4d93-9eee-524451569685",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        -360
      ]
    },
    {
      "parameters": {
        "content": "INNER-JOIN OF \nCHANNEL_DETAILS\nVIDEO_DETAILS & VIDEO_TRANSCRIPTS",
        "height": 100,
        "width": 178,
        "color": 7
      },
      "id": "cd8b2f3a-2fc5-4c66-ad6d-66631fa5ca8c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        60
      ]
    },
    {
      "parameters": {
        "content": "# ***BRAND EXTRACTION***",
        "height": 87,
        "width": 388,
        "color": 6
      },
      "id": "2b07f550-5305-4701-92c3-af47b51ffcb4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90e01cae-8bf2-4c21-ab73-de9f51c27e96",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "number"
            },
            {
              "id": "c8d9b8ad-8ef4-40b6-88e4-638305812666",
              "name": "yt_video_id",
              "value": "={{ $json.yt_video_id }}",
              "type": "string"
            },
            {
              "id": "2c1cdb44-262f-4068-bc56-8155cad4c543",
              "name": "video_title",
              "value": "={{ $json.video_title }}",
              "type": "string"
            },
            {
              "id": "5dc83d0c-33e4-4a7e-940b-0d5504a35cfc",
              "name": "video_description",
              "value": "={{ $json.video_description }}",
              "type": "string"
            },
            {
              "id": "153c4c85-046a-4278-bb07-04a88040aef0",
              "name": "video_tags",
              "value": "={{ $json.video_tags }}",
              "type": "string"
            },
            {
              "id": "cfde444d-274b-45c1-97ec-9a4996a4e0ed",
              "name": "transcript_text",
              "value": "={{ $json.transcript_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e47a654-6204-4ca0-a27d-a5fc15cba8ca",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        -100
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        -100
      ],
      "id": "22c24adb-331f-4c86-b3cc-e472e061d05c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "sendTo": "karthik.darvesh@famekeeda.com",
        "subject": "Brand Extraction Workflow  - Karthik's PC",
        "emailType": "text",
        "message": "Your Brand Extraction Workflow has been successfully completed.",
        "options": {
          "senderName": "N8N Localhost"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        20,
        -180
      ],
      "id": "3ba989f4-e44e-4380-8037-c8bb033edbfe",
      "name": "Gmail1",
      "webhookId": "217016f6-3574-45d4-a8ee-f1a220fcb22a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mfr201bOpwzWEBKR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get total number of processed items\nconst totalItems = items.length;\n\n// Return single consolidated item\nreturn [{\n  json: {\n    Notification: `Workflow completed successfully! Processed ${totalItems} items.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -180
      ],
      "id": "79e419cb-2486-40c7-9319-800cdd0a4699",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w0fNVojBsZjRTVkn",
          "mode": "list",
          "cachedResultName": "[NER_Worker] NER_Woker_NER_YT_Brand_Extraction"
        },
        "mode": "each",
        "options": {}
      },
      "id": "ec18c3a0-096d-46f9-a062-ab68246675e5",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -280,
        -40
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_Database": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres_Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        []
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14da11f9-f4d5-4fd7-ad35-7e4b42314d7d",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "QMFnQigWaBQwO40B",
  "tags": [
    {
      "createdAt": "2024-12-18T08:08:07.563Z",
      "updatedAt": "2024-12-18T08:08:07.563Z",
      "id": "8MXPHxean6BOmvDN",
      "name": "Summarization"
    }
  ]
}